{% extends 'ublog/base.html' %}

{% block content %}
<div class="col-md-6 col-sm-8 text-justify">
  {% for post in posts %}
    <div class="post">
      <span>
        <h2 style="display: inline;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="date float-right" style="display: inline;">Published : {{ post.published_date }}</p>
      </span>
      <p>{{ post.text|truncatewords:20 }}<a href="{% url 'post_detail' pk=post.pk %}">Read more</a></p>
      <hr>
    </div>
  {% endfor %}
</div>
<div class="col-md-3 hidden-md-down text-justify">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est illo, recusandae, placeat labore consequuntur perspiciatis maxime quisquam fuga officiis repellat iste neque tempora? Perferendis, vitae, error! Suscipit, voluptas sint.
</div>
{% endblock %}